@model WebApplication1.Models.EvenementModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}

                <center>   <h4>Are you sure you want to delete this Event?</h4></center> 
                <div>
                    
                    <hr />
                    <dl class="dl-horizontal"></dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <center>
                            <div class="form-actions no-color">
                                <input onclick="notifyMe()" type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "List")
                            </div>
                        </center>
                    }
                </div>

                